body {
    font-family: Arial, sans-serif;
    background-color:#f4f4f4;
    margin: 0;
    padding: 20px;
}

 .container {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    max-width:800px;
    margin: 0 auto;
 }

 .box {
    width: 200px;
    height: 100;
    text-align: center;
    line-height: 100px;
    font-weight: bold;
    color:white;
 }

 .box1 {
    background-color: #3498db;
    margin: 10px 30px;
    border:5px dashed #00d9ffdb
 }

 .box2 {
    background-color: #2ecc71;
    padding: 5px 15px 10px 20px;
    transform: translate(525px, -120px);
 }

.box3 {
    background-color: #9b59b6;
    border:3px dashed #e74c3c;
    box-sizing:border-box;
    
}

.box4 {
    background-color: #e74c3c;
    margin-top: 50px;
    padding-left: 15px;
    border:5px double #f39c12;
    transform: translate(550px, -160px);
}

