* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.flex-galery{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding: 20px;
    justify-self: center;
}
.flex-galery img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.8);
    font-size: 10px 10px 10px 10px;
}
.flex-galery img :hover{
    transform: scale(1.05);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
