body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 30px;
}

.container {
    display: grid;
    
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    
    justify-items: center;
    align-items: center;

    padding: 110px;
    min-height: 300px;

    border: 3px solid #3498db;
}

.item {
    width: 180px;
    height: 80px;

    font-size: 20px;
    font-weight: bold;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 12px;
    color: white;
    cursor: pointer;

    text-decoration: none;

    transition: 0.2s;
}

.item:hover {
    transform: scale(1.05);
}

.item:nth-child(1) {
    background-color: #74c0fc;
}

.item:nth-child(2) {
    background-color: #339af0;
}

.item:nth-child(3) {
    background-color: #845ef7;
}

.item:nth-child(4) {
    background-color: #51cf;
}