body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

.container {
    border: 2px solid #3498db;
    padding: 20px;
}

.item {
    background-color: #ec8a1a;
    color: white;
    font-size: 24vpx;
    text-align: center;
    padding: 20px;
    margin: 5px;
}