*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #eeeeee;
    font-family: Arial;
}

nav{
    background: #2c3e50;
    padding: 15px;
}

nav a{
    color: white;
    text-decoration: none;
    margin-right: 30px;
}

.static{
    width: 170px;
    height: 90px;
    background: #3498db;
    margin: 20px;
    border: 1px solid black;
}

.relative{
    width: 170px;
    height: 90px;
    background: #2ecc71;
    position: relative;
    left: 40px;
    margin: 20px;
    text-align: center;
    line-height: 90px;
    color: white;
    font-weight: bold;
}

.box{
    width: 180px;
    height: 160px;
    background: gold;
    position: relative;
    margin: 20px;
    border: 1px solid black;
}

.absolute{
    width: 120px;
    height: 90px;
    background: tomato;
    position: absolute;
    left: 20px;
    top: 40px;
    text-align: center;
    line-height: 90px;
    color: white;
    font-weight: bold;
}

.free{
    width: 180px;
    height: 100px;
    background: rgb(69, 203, 57);
    position: absolute;
    right: 300px;
    top: 350px;
}

.fixed{
    width: 100px;
    height: 60px;
    background: purple;
    color: white;
    position: fixed;
    left: 20px;
    bottom: 20px;
    text-align: center;
    line-height: 60px;
    font-weight: bold;
}