.block {
    width: 300px;
    height: 120px;
    margin: 20px;
    color: white;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.block1 { background-color: #3f88b5; }
.block2 { background-color: #3cb371; }
.block3 { background-color: #e74c3c; }
.block4 { background-color: #9b59b6; }
